<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Services" type="QualisysServiceAudit.Sections.ServiceSection, QualisysServiceAudit" />
  </configSections>
  <Services>
      <Service 
        Index="1" 
        DisplayName="WMS Thermopac Service 2.4.20" 
        Name="WMS Thermopac Service 2.4.20" 
      />
  </Services>
  <appSettings>
    <!-- LOG -->
    <add key="ShowConsole" value="true" />
    <add key="SaveEventLog" value="true" />
    <add key="FullLog" value="true" />
    <add key="LogName" value="ServiceAudit" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>